# общая ссылка на SSO
sso_url="https://example.com"

# Для тестов UserClient
client_id="x"
login="x"
password="x"


# Для тестов ServiceClient (опционально)
service_client_id="x"
service_client_secret="x"